<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wang.ralf.vieweventtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FragmentContainerActivity"></activity>
        <activity android:name=".ResultActivity" />
        <activity
            android:name=".NewIntentTest"
            android:launchMode="singleTop"
            android:configChanges="orientation"/>
        <activity android:name=".ViewScrollTwoActivity" />
        <activity android:name=".ViewScrollOneActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MeasureActivity" />
    </application>

</manifest>